<!doctype html>
include ../mixins/create-department.pug
html(lang="en")
  include ../includes/head.pug
// WRAPPER
#wrapper
  include ../includes/navbar.pug
  // END NAVBAR
  // LEFT SIDEBAR
  include ../includes/menu.pug
  // END LEFT SIDEBAR
  // MAIN
  .main
    // MAIN CONTENT
    .main-content
      .container-fluid
        .row
          .col-sm-12
            .row(style="height:60px;")
              .col-sm-6
                  form(action='/admin/search-department' method='POST')
                    input(type="hidden" name='_csrf' value=`${csrfToken}`) 
                    #adv-search.input-group
                      input.form-control#searchBar(type='text' placeholder='Bölümün Adını Yazınız' name='searchBar')
                      .input-group-btn
                        .btn-group(role='group')
                          button.btn.btn-primary(type='submit')
                            i.fa.fa-search 
              .col-sm-6 
                .btn-group(role='group').float-right
                    a(href="/admin/add-department").btn.btn-primary
                      i.fa.fa-plus-circle  
                      span &nbsp; Yeni Bölüm Ekle  
        .row
          .col
            // TABLE STRIPED
            .panel
              .panel-heading
                h3.panel-title Bölümler 
              .panel-body
                table.table.table-striped.table-hover
                  thead
                    tr
                      th #
                      th 
                      th Bölüm 
                      th Fakülte   
                      th İşlem 

                  tbody
                    - var i =0;
                    if departments.length > 0 
                      each department in departments
                        - ++i;
                        +createDepartment(department,faculties,i)
            // END TABLE STRIPED
    // END MAIN CONTENT
  // END MAIN
  .clearfix
  footer
    .container-fluid
// END WRAPPER
// Javascript

