<!doctype html>
html(lang="en")
  include ../includes/head.pug
// WRAPPER
#wrapper
  include ../includes/navbar.pug
  // END NAVBAR
  // LEFT SIDEBAR
  include ../includes/menu.pug
  // END LEFT SIDEBAR
  // MAIN
  .main
    // MAIN CONTENT
    .main-content
      .container-fluid
        .row
          .col-sm-12
            .row(style="height:60px;")
              .col-sm-6
                #adv-search.input-group
                  input.form-control(type='text' placeholder='Kullanıcının Adını Yazınız')
                  .input-group-btn
                    .btn-group(role='group')
                      button.btn.btn-primary(type='button')
                        i.fa.fa-search 
              .col-sm-6 
                .btn-group(role='group').float-right
                    a(href="add-user").btn.btn-primary
                      i.fa.fa-plus-circle  
                      span &nbsp; Yeni Kullanıcı Ekle  
        .row
          .col
            // TABLE STRIPED
            .panel
              .panel-heading
                h3.panel-title Kullanıcılar 
              .panel-body
                table.table.table-striped.table-hover
                  thead
                    tr
                      th #
                      th İsim
                      th Soyisim 
                      th Kayıt Tarihi 
                      th Fakülte 
                      th Bölüm 
                      th İşlem 

                  tbody
                    tr
                      td 1
                      td 
                        img(src='assets/img/default-user-image.png', alt="" style='width:48px;heigth:48px;')
                        span  &nbsp;  &nbsp; Yusuf
                      td Efe
                      td 17.04.2021
                      td Mühendislik 
                      td Yazılım 
                      td 
                        a(href="")                           
                          i.fa.fa-cog.primary  
                        a(href="")  &nbsp;                            &nbsp;
                          i.delete.fa.fa-times-circle.rediconcolor 
                    tr
                      td 2
                      td 
                        img(src='assets/img/default-user-image.png', alt="" style='width:48px;heigth:48px;')
                        span  &nbsp;  &nbsp; Yusuf
                      td Efe
                      td 17.04.2021
                      td Mühendislik 
                      td Yazılım 
                      td
                        a(href="")                           
                          i.fa.fa-cog.primary  
                        a(href="")  &nbsp;                            &nbsp;
                          i.delete.fa.fa-times-circle.rediconcolor 
                    tr
                      td 3
                      td 
                        img(src='assets/img/default-user-image.png', alt="" style='width:48px;heigth:48px;')
                        span  &nbsp;  &nbsp; Yusuf
                      td Efe
                      td 17.04.2021
                      td Mühendislik 
                      td Yazılım 
                      td 
                        a(href="")                           
                          i.fa.fa-cog.primary  
                        a(href="")  &nbsp;                            &nbsp;
                          i.delete.fa.fa-times-circle.rediconcolor 
            // END TABLE STRIPED
    // END MAIN CONTENT
  // END MAIN
  .clearfix
  footer
    .container-fluid
// END WRAPPER
// Javascript
