<!doctype html>
html(lang="en")
  include ../includes/head.pug
// WRAPPER
#wrapper
  .vertical-align-wrap
    .vertical-align-middle
      .auth-box
        .left.text-center 
          .content
            .header
              .logo.text-center
                img(src='assets/img/uni_logo.gif' alt='Klorofil Logo')
              p.lead Hesabınıza Giriş Yapın
            form.form-auth-small(action='/index')
              .form-group
                label.control-label.sr-only(for='signin-email') Email
                input#signin-email.form-control(type='email' value='' placeholder='Email')
              .form-group
                label.control-label.sr-only(for='signin-password') Şifre
                input#signin-password.form-control(type='password' value='' placeholder='Şifre')
              .form-group.clearfix
              button.btn.btn-primary.btn-lg.btn-block(type='submit') GİRİŞ
              .bottom
                span.helper-text
                  i.fa.fa-lock
                  a(href='reset-password') &nbsp;&nbsp;Şifremi Unuttum

        .clearfix
// END WRAPPER
