<!doctype html>
html(lang="en")
  include ../includes/head.pug
// WRAPPER
#wrapper
  .vertical-align-wrap
    .vertical-align-middle
      .auth-box
        .left.text-center 
          .content
            .header
              .logo.text-center
                img(src='assets/img/uni_logo.gif' alt='Logo')
              p.lead Hesabınıza Giriş Yapın
            form.form-auth-small(action='/login' method='POST')
              input(type="hidden" name='_csrf' value=`${csrfToken}`)
              .form-group
                label.control-label.sr-only(for='email') Email
                input#email.form-control(type='email' value='' placeholder='Email' name='email')
              .form-group
                label.control-label.sr-only(for='password') Şifre
                input#password.form-control(type='password' value='' placeholder='Şifre' name='password')
              .form-group.clearfix
              button.btn.btn-primary.btn-lg.btn-block(type='submit') GİRİŞ
              .bottom
                span.helper-text
                  i.fa.fa-lock
                  a(href='/forgot-password') &nbsp;&nbsp;Şifremi Unuttum

        .clearfix
// END WRAPPER
