<!doctype html>
html(lang="en")
  include ./includes/head.pug
// WRAPPER
#wrapper
  include ./includes/navbar.pug
  include ./includes/menu.pug
  // END LEFT SIDEBAR
  // MAIN
  .main
    // MAIN CONTENT
    .main-content
      .container-fluid
        h3.page-title Elements
        .row
          .col-md-6
            // BUTTONS
            .panel
              .panel-heading
                h3.panel-title Buttons
              .panel-body
                p.demo-button
                  button.btn.btn-default(type='button') Default
                  button.btn.btn-primary(type='button') Primary
                  button.btn.btn-info(type='button') Info
                  button.btn.btn-success(type='button') Success
                  button.btn.btn-warning(type='button') Warning
                  button.btn.btn-danger(type='button') Danger
                br
                p.demo-button
                  button.btn.btn-primary.btn-lg(type='button') Large Size
                  button.btn.btn-primary(type='button') Default Size
                  button.btn.btn-primary.btn-sm(type='button') Small Size
                  button.btn.btn-primary.btn-xs(type='button') Extra Small Size
                br
                p.demo-button
                  button.btn.btn-default(type='button')
                    i.fa.fa-plus-square
                    |  Default
                  button.btn.btn-primary(type='button')
                    i.fa.fa-refresh
                    |  Primary
                  button.btn.btn-info(type='button')
                    i.fa.fa-info-circle
                    |  Info
                  button.btn.btn-primary(type='button' disabled='disabled')
                    i.fa.fa-refresh.fa-spin
                    |  Refreshing...
                br
                p.demo-button
                  button.btn.btn-success(type='button')
                    i.fa.fa-check-circle
                    |  Success
                  button.btn.btn-warning(type='button')
                    i.fa.fa-warning
                    |  Warning
                  button.btn.btn-danger(type='button')
                    i.fa.fa-trash-o
                    |  Danger
                  button.btn.btn-primary(type='button' disabled='disabled')
                    i.fa.fa-spinner.fa-spin
                    |  Loading...
                br
                .row
                  .col-md-6
                    button.btn.btn-primary.btn-block(type='button') Button Block
                  .col-md-6
                    button.btn.btn-warning.btn-block(type='button') Button Block
            // END BUTTONS
            // INPUTS
            .panel
              .panel-heading
                h3.panel-title Inputs
              .panel-body
                input.form-control(type='text' placeholder='text field')
                br
                input.form-control(type='password' value='asecret')
                br
                textarea.form-control(placeholder='textarea' rows='4')
                br
                select.form-control
                  option(value='cheese') Cheese
                  option(value='tomatoes') Tomatoes
                  option(value='mozarella') Mozzarella
                  option(value='mushrooms') Mushrooms
                  option(value='pepperoni') Pepperoni
                  option(value='onions') Onions
                br
                label.fancy-checkbox
                  input(type='checkbox')
                  span Fancy Checkbox 1
                label.fancy-checkbox
                  input(type='checkbox')
                  span Fancy Checkbox 2
                label.fancy-checkbox
                  input(type='checkbox')
                  span Fancy Checkbox 3
                br
                label.fancy-radio
                  input(name='gender' value='male' type='radio')
                  span
                    i
                    | Male
                label.fancy-radio
                  input(name='gender' value='female' type='radio')
                  span
                    i
                    | Female
            // END INPUTS
            // INPUT SIZING
            .panel
              .panel-heading
                h3.panel-title Input Sizing
              .panel-body
                input.form-control.input-lg(placeholder='.input-lg' type='text')
                br
                input.form-control(placeholder='Default input' type='text')
                br
                input.form-control.input-sm(placeholder='.input-sm' type='text')
                br
                select.form-control.input-lg
                  option(value='cheese') Cheese
                  option(value='tomatoes') Tomatoes
                  option(value='mozarella') Mozzarella
                  option(value='mushrooms') Mushrooms
                  option(value='pepperoni') Pepperoni
                  option(value='onions') Onions
                br
                select.form-control
                  option(value='cheese') Cheese
                  option(value='tomatoes') Tomatoes
                  option(value='mozarella') Mozzarella
                  option(value='mushrooms') Mushrooms
                  option(value='pepperoni') Pepperoni
                  option(value='onions') Onions
                br
                select.form-control.input-sm
                  option(value='cheese') Cheese
                  option(value='tomatoes') Tomatoes
                  option(value='mozarella') Mozzarella
                  option(value='mushrooms') Mushrooms
                  option(value='pepperoni') Pepperoni
                  option(value='onions') Onions
            // END INPUT SIZING
          .col-md-6
            // LABELS
            .panel
              .panel-heading
                h3.panel-title Labels &amp; Badges
              .panel-body
                span.label.label-default DEFAULT
                span.label.label-primary PRIMARY
                span.label.label-success SUCCESS
                span.label.label-info INFO
                span.label.label-warning WARNING
                span.label.label-danger DANGER
                br
                br
                a(href='#')
                  | Inbox 
                  span.badge 42
                br
                br
                button.btn.btn-primary(type='button')
                  | Messages 
                  span.badge 4
            // END LABELS
            // PROGRESS BARS
            .panel
              .panel-heading
                h3.panel-title Progress Bars
              .panel-body
                .progress
                  .progress-bar(role='progressbar' aria-valuenow='60' aria-valuemin='0' aria-valuemax='100' style='width: 60%;')
                    span.sr-only 60% Complete
                .progress
                  .progress-bar.progress-bar-warning(role='progressbar' aria-valuenow='60' aria-valuemin='0' aria-valuemax='100' style='width: 60%')
                    span.sr-only 60% Complete (warning)
                .progress
                  .progress-bar.progress-bar-success(role='progressbar' aria-valuenow='60' aria-valuemin='0' aria-valuemax='100' style='width: 60%')
                    span.sr-only 60% Complete (success)
                .progress
                  .progress-bar.progress-bar-danger(role='progressbar' aria-valuenow='60' aria-valuemin='0' aria-valuemax='100' style='width: 60%')
                    span.sr-only 60% Complete (danger)
                .progress
                  .progress-bar(role='progressbar' aria-valuenow='75' aria-valuemin='0' aria-valuemax='100' style='width: 75%;')
                    | 75%
                .progress
                  .progress-bar.progress-bar-info.progress-bar-striped(role='progressbar' aria-valuenow='20' aria-valuemin='0' aria-valuemax='100' style='width: 20%')
                    span.sr-only 20% Complete
                .progress
                  .progress-bar.progress-bar-striped.active(role='progressbar' aria-valuenow='45' aria-valuemin='0' aria-valuemax='100' style='width: 45%')
                    span.sr-only 45% Complete
                .progress.progress-xs
                  .progress-bar.progress-bar-success(role='progressbar' aria-valuenow='80' aria-valuemin='0' aria-valuemax='100' style='width: 80%')
                    span.sr-only 80% Complete
            // END PROGRESS BARS
            // INPUT GROUPS
            .panel
              .panel-heading
                h3.panel-title Input Groups
              .panel-body
                .input-group
                  input.form-control(type='text')
                  span.input-group-btn
                    button.btn.btn-primary(type='button') Go!
                br
                .input-group
                  span.input-group-btn
                    button.btn.btn-primary(type='button') Go!
                  input.form-control(type='text')
                br
                .input-group
                  span.input-group-addon
                    i.fa.fa-user
                  input.form-control(placeholder='Username' type='text')
                br
                .input-group
                  input.form-control(placeholder='Username' type='text')
                  span.input-group-addon
                    i.fa.fa-user
                br
                .input-group
                  span.input-group-addon $
                  input.form-control(type='text')
                  span.input-group-addon .00
            // END INPUT GROUPS
            // ALERT MESSAGES
            .panel
              .panel-heading
                h3.panel-title Alert Messages
              .panel-body
                .alert.alert-info.alert-dismissible(role='alert')
                  button.close(type='button' data-dismiss='alert' aria-label='Close')
                    span(aria-hidden='true') &times;
                  i.fa.fa-info-circle
                  |  The system is running well
                .alert.alert-success.alert-dismissible(role='alert')
                  button.close(type='button' data-dismiss='alert' aria-label='Close')
                    span(aria-hidden='true') &times;
                  i.fa.fa-check-circle
                  |  Your settings have been succesfully saved
                .alert.alert-warning.alert-dismissible(role='alert')
                  button.close(type='button' data-dismiss='alert' aria-label='Close')
                    span(aria-hidden='true') &times;
                  i.fa.fa-warning
                  |  Warning, check your permission settings
                .alert.alert-danger.alert-dismissible(role='alert')
                  button.close(type='button' data-dismiss='alert' aria-label='Close')
                    span(aria-hidden='true') &times;
                  i.fa.fa-times-circle
                  |  Your account has been suspended
            // END ALERT MESSAGES
    // END MAIN CONTENT
  // END MAIN
  .clearfix
  footer
    .container-fluid
      p.copyright
        | &copy; 2017 
        a(href='https://www.themeineed.com' target='_blank') Theme I Need
        | . All Rights Reserved.
// END WRAPPER
// Javascript
script(src='assets/vendor/jquery/jquery.min.js')
script(src='assets/vendor/bootstrap/js/bootstrap.min.js')
script(src='assets/vendor/jquery-slimscroll/jquery.slimscroll.min.js')
script(src='assets/scripts/klorofil-common.js')
