<!doctype html>
html(lang="en")
  include ./includes/head.pug
// WRAPPER
#wrapper
  include ./includes/navbar.pug
  include ./includes/menu.pug
  // END LEFT SIDEBAR
  // MAIN
  .main
    // MAIN CONTENT
    .main-content
      .container-fluid
        h3.page-title Notifications
        #toastr-demo.panel
          .panel-body
            // CONTEXTUAL
            h4 Context
            p.demo-button
              button.btn.btn-primary.btn-toastr(type='button' data-context='info' data-message='This is general theme info' data-position='top-right') General Info
              button.btn.btn-success.btn-toastr(type='button' data-context='success' data-message='This is success info' data-position='top-right') Success Info
              button.btn.btn-warning.btn-toastr(type='button' data-context='warning' data-message='This is warning info' data-position='top-right') Warning Info
              button.btn.btn-danger.btn-toastr(type='button' data-context='error' data-message='This is error info' data-position='top-right') Error Info
            // END CONTEXTUAL
            br
            // POSITION
            h4 Position
            p.demo-button
              button.btn.btn-default.btn-toastr(type='button' data-context='info' data-message="Hi, I'm here" data-position='bottom-right') Bottom Right
              button.btn.btn-default.btn-toastr(type='button' data-context='info' data-message="Hi, I'm here" data-position='bottom-left') Bottom Left
              button.btn.btn-default.btn-toastr(type='button' data-context='info' data-message="Hi, I'm here" data-position='top-left') Top Left
              button.btn.btn-default.btn-toastr(type='button' data-context='info' data-message="Hi, I'm here" data-position='top-right') Top Right
              button.btn.btn-default.btn-toastr(type='button' data-context='info' data-message="Hi, I'm here" data-position='top-full-width') Top Full Width
              button.btn.btn-default.btn-toastr(type='button' data-context='info' data-message="Hi, I'm here" data-position='bottom-full-width') Bottom Full Width
              button.btn.btn-default.btn-toastr(type='button' data-context='info' data-message="Hi, I'm here" data-position='top-center') Top Center
              button.btn.btn-default.btn-toastr(type='button' data-context='info' data-message="Hi, I'm here" data-position='bottom-center') Bottom Center
            // END POSITION
            br
            // CALLBACK
            h4 Callback
            p.demo-button
              button#toastr-callback1.btn.btn-default.btn-toastr-callback(type='button' data-context='info' data-message='onShown and onHidden callback demo') onShown and onHidden
              button#toastr-callback2.btn.btn-default.btn-toastr-callback(type='button' data-context='info' data-message='Please click me') onclick
              button#toastr-callback3.btn.btn-default.btn-toastr-callback(type='button' data-context='info' data-message='Please click close button') onCloseClick
            // END CALLBACK
    // END MAIN CONTENT
  // END MAIN
  .clearfix
  footer
    .container-fluid
      p.copyright
        | &copy; 2017 
        a(href='https://www.themeineed.com' target='_blank') Theme I Need
        | . All Rights Reserved.
// END WRAPPER
// Javascript
script(src='assets/vendor/jquery/jquery.min.js')
script(src='assets/vendor/bootstrap/js/bootstrap.min.js')
script(src='assets/vendor/jquery-slimscroll/jquery.slimscroll.min.js')
script(src='assets/vendor/toastr/toastr.min.js')
script(src='assets/scripts/klorofil-common.js')
