<!doctype html>
html(lang="en")
  include ./includes/head.pug
// WRAPPER
#wrapper
  .vertical-align-wrap
    .vertical-align-middle
      .auth-box.lockscreen.clearfix
        .content
          h1.sr-only Klorofil - Free Bootstrap dashboard
          .logo.text-center
            img(src='assets/img/logo-dark.png' alt='Klorofil Logo')
          .user.text-center
            img.img-circle(src='assets/img/user-medium.png' alt='Avatar')
            h2.name Samuel Gold
          form(action='index.html')
            .input-group
              input.form-control(type='password' placeholder='Enter your password ...')
              span.input-group-btn
                button.btn.btn-primary(type='submit')
                  i.fa.fa-arrow-right
// END WRAPPER
