<!doctype html>
html(lang="en")
  include ./includes/head.pug
// WRAPPER
#wrapper
  include ./includes/navbar.pug
  // END NAVBAR
  // LEFT SIDEBAR
  include ./includes/menu.pug
  // END LEFT SIDEBAR
  // MAIN
  .main
    // MAIN CONTENT
    .main-content
      .container-fluid
        .panel.panel-profile
          .clearfix
            // LEFT COLUMN
            .profile-left
              // PROFILE HEADER
              .profile-header
                .overlay
                .profile-main
                  img.img-circle(src='assets/img/user-medium.png' alt='Avatar')
                  h3.name Samuel Gold
                  span.online-status.status-available Available
                .profile-stat
                  .row
                    .col-md-4.stat-item
                      | 45 
                      span Projects
                    .col-md-4.stat-item
                      | 15 
                      span Awards
                    .col-md-4.stat-item
                      | 2174 
                      span Points
              // END PROFILE HEADER
              // PROFILE DETAIL
              .profile-detail
                .profile-info
                  h4.heading Basic Info
                  ul.list-unstyled.list-justify
                    li
                      | Birthdate 
                      span 24 Aug, 2016
                    li
                      | Mobile 
                      span (124) 823409234
                    li
                      | Email 
                      span samuel@mydomain.com
                    li
                      | Website 
                      span
                        a(href='https://www.themeineed.com') www.themeineed.com
                .profile-info
                  h4.heading Social
                  ul.list-inline.social-icons
                    li
                      a.facebook-bg(href='#')
                        i.fa.fa-facebook
                    li
                      a.twitter-bg(href='#')
                        i.fa.fa-twitter
                    li
                      a.google-plus-bg(href='#')
                        i.fa.fa-google-plus
                    li
                      a.github-bg(href='#')
                        i.fa.fa-instagram
                .profile-info
                  h4.heading About
                  p Interactively fashion excellent information after distinctive outsourcing.
                .text-center
                  a.btn.btn-primary(href='#') Edit Profile
              // END PROFILE DETAIL
            // END LEFT COLUMN
            // RIGHT COLUMN
            .profile-right
              h4.heading Samuel&apos;s Awards
              // AWARDS
              .awards
                .row
                  .panel.panel-default
                      .panel-heading Bilgiler
                      table.table.table-borderless.table-hover
                        tbody
                          tr
                            td
                              span Personel No
                            td
                              span 170290065
                            td
                              span Fakülte
                            td
                              span Mühendislik Fakültesi
                          tr
                            td
                              span Adı Soyadı
                            td
                              span YUSUF EFE
                            td
                              span Bölüm
                            td
                              span Yazılım Mühendisliği
                          tr
                            td
                              span Kayıt Tarihi
                            td
                              span 14.04.2021
                            td
                              span Program
                            td
                              span Yazılım Müh Bölümü
                  .panel.panel-default
                    .panel-heading İletişim Bilgileri
                    table.table.table-borderless.table-hover
                      tbody
                        tr
                          td
                            span Adres
                          td
                            span
                              input.form-control(type='text')
                          td
                            span İl
                          td
                            input.form-control.float-left(type='text')
                        tr
                          td
                            span Telefon
                          td
                            span
                              input.form-control.float-left(type='text')
                          td
                            span İlçe
                          td
                            span
                              input.form-control.float-left(type='text')
                        tr
                          td
                            span 1.Email
                          td
                            span
                              input.form-control.float-left(type='text')
                          td
                            span 2.Email
                          td
                            span
                              input.form-control.float-left(type='text')
                  .panel.panel-default
                    .panel-heading
                      | Kisisel Bilgiler
                    table.table.table-borderless.table-hover
                      tbody
                        tr
                          td
                            span Dogum Tarihi
                          td
                            span
                              input.form-control(type='date')
                          td
                            span Facebook
                          td
                            input.form-control.float-left(type='text')
                        tr
                          td
                            span Twitter
                          td
                            span
                              input.form-control.float-left(type='text')
                          td
                            span Instagram
                          td
                            span
                              input.form-control.float-left(type='text')

              // TABBED CONTENT
              .custom-tabs-line.tabs-line-bottom.left-aligned
                ul.nav(role='tablist')
                  li.active
                    a(href='#tab-bottom-left1' role='tab' data-toggle='tab') Recent Activity
                  li
                    a(href='#tab-bottom-left2' role='tab' data-toggle='tab')
                      | Projects 
                      span.badge 7
              .tab-content
                #tab-bottom-left1.tab-pane.fade.in.active
                  ul.list-unstyled.activity-timeline
                    li
                      i.fa.fa-comment.activity-icon
                      p
                        | Commented on post 
                        a(href='#') Prototyping
                        span.timestamp 2 minutes ago
                    li
                      i.fa.fa-cloud-upload.activity-icon
                      p
                        | Uploaded new file 
                        a(href='#') Proposal.docx
                        |  to project 
                        a(href='#') New Year Campaign
                        span.timestamp 7 hours ago
                    li
                      i.fa.fa-plus.activity-icon
                      p
                        | Added 
                        a(href='#') Martin
                        |  and 
                        a(href='#') 3 others colleagues
                        |  to project repository 
                        span.timestamp Yesterday
                    li
                      i.fa.fa-check.activity-icon
                      p
                        | Finished 80% of all 
                        a(href='#') assigned tasks
                        span.timestamp 1 day ago
                  .margin-top-30.text-center
                    a.btn.btn-default(href='#') See all activity
                #tab-bottom-left2.tab-pane.fade
                  .table-responsive
                    table.table.project-table
                      thead
                        tr
                          th Title
                          th Progress
                          th Leader
                          th Status
                      tbody
                        tr
                          td
                            a(href='#') Spot Media
                          td
                            .progress
                              .progress-bar(role='progressbar' aria-valuenow='60' aria-valuemin='0' aria-valuemax='100' style='width: 60%;')
                                span 60% Complete
                          td
                            img.avatar.img-circle(src='assets/img/user2.png' alt='Avatar')
                            a(href='#') Michael
                          td
                            span.label.label-success ACTIVE
                        tr
                          td
                            a(href='#') E-Commerce Site
                          td
                            .progress
                              .progress-bar(role='progressbar' aria-valuenow='33' aria-valuemin='0' aria-valuemax='100' style='width: 33%;')
                                span 33% Complete
                          td
                            img.avatar.img-circle(src='assets/img/user1.png' alt='Avatar')
                            a(href='#') Antonius
                          td
                            span.label.label-warning PENDING
                        tr
                          td
                            a(href='#') Project 123GO
                          td
                            .progress
                              .progress-bar(role='progressbar' aria-valuenow='68' aria-valuemin='0' aria-valuemax='100' style='width: 68%;')
                                span 68% Complete
                          td
                            img.avatar.img-circle(src='assets/img/user1.png' alt='Avatar')
                            a(href='#') Antonius
                          td
                            span.label.label-success ACTIVE
                        tr
                          td
                            a(href='#') Wordpress Theme
                          td
                            .progress
                              .progress-bar(role='progressbar' aria-valuenow='75' aria-valuemin='0' aria-valuemax='100' style='width: 75%;')
                                span 75%
                          td
                            img.avatar.img-circle(src='assets/img/user2.png' alt='Avatar')
                            a(href='#') Michael
                          td
                            span.label.label-success ACTIVE
                        tr
                          td
                            a(href='#') Project 123GO
                          td
                            .progress
                              .progress-bar.progress-bar-success(role='progressbar' aria-valuenow='100' aria-valuemin='0' aria-valuemax='100' style='width: 100%;')
                                span 100%
                          td
                            img.avatar.img-circle(src='assets/img/user1.png' alt='Avatar')
                            a(href='#') Antonius
                          td
                            span.label.label-default CLOSED
                        tr
                          td
                            a(href='#') Redesign Landing Page
                          td
                            .progress
                              .progress-bar.progress-bar-success(role='progressbar' aria-valuenow='100' aria-valuemin='0' aria-valuemax='100' style='width: 100%;')
                                span 100%
                          td
                            img.avatar.img-circle(src='assets/img/user5.png' alt='Avatar')
                            a(href='#') Jason
                          td
                            span.label.label-default CLOSED
              // END TABBED CONTENT
            // END RIGHT COLUMN
    // END MAIN CONTENT
  // END MAIN
  .clearfix
  footer
    .container-fluid
      p.copyright
        | &copy; 2017 
        a(href='https://www.themeineed.com' target='_blank') Theme I Need
        | . All Rights Reserved.
// END WRAPPER
// Javascript
