<!doctype html>
html(lang="en")
  include ./includes/head.pug
// WRAPPER
#wrapper
  include ./includes/navbar.pug
  // END NAVBAR
  // LEFT SIDEBAR
  include ./includes/menu.pug
  // END LEFT SIDEBAR
  // MAIN
  .main
    // MAIN CONTENT
    .main-content
      .container-fluid
        h3.page-title Panels
        .row
          .col-md-8
            // PANEL HEADLINE
            .panel.panel-headline
              .panel-heading
                h3.panel-title Panel Headline
                p.panel-subtitle Panel to display most important information
              .panel-body
                h4 Panel Content
                p
                  | Objectively network visionary methodologies via best-of-breed users. Phosfluorescently initiate go forward leadership skills before an expanded array of infomediaries. Monotonectally incubate web-enabled communities rather than process-centric.
            // END PANEL HEADLINE
          .col-md-4
            // PANEL NO PADDING
            .panel
              .panel-heading
                h3.panel-title Panel No Padding
                .right
                  button.btn-toggle-collapse(type='button')
                    i.lnr.lnr-chevron-up
                  button.btn-remove(type='button')
                    i.lnr.lnr-cross
              .panel-body.no-padding.bg-primary.text-center
                .padding-top-30.padding-bottom-30
                  i.fa.fa-thumbs-o-up.fa-5x
                  h3 No Content Padding
            // END PANEL NO PADDING
        .row
          .col-md-4
            // PANEL DEFAULT
            .panel
              .panel-heading
                h3.panel-title Panel Default
                .right
                  button.btn-toggle-collapse(type='button')
                    i.lnr.lnr-chevron-up
                  button.btn-remove(type='button')
                    i.lnr.lnr-cross
              .panel-body
                p
                  | Objectively network visionary methodologies via best-of-breed users. Phosfluorescently initiate go forward leadership skills before an expanded array of infomediaries. Monotonectally incubate web-enabled communities rather than process-centric.
            // END PANEL DEFAULT
          .col-md-4
            // PANEL NO CONTROLS
            .panel
              .panel-heading
                h3.panel-title Panel No Right Controls
              .panel-body
                p
                  | Objectively network visionary methodologies via best-of-breed users. Phosfluorescently initiate go forward leadership skills before an expanded array of infomediaries. Monotonectally incubate web-enabled communities rather than process-centric.
            // END PANEL NO CONTROLS
          .col-md-4
            // PANEL WITH FOOTER
            .panel
              .panel-heading
                h3.panel-title Panel With Footer
                .right
                  button.btn-toggle-collapse(type='button')
                    i.lnr.lnr-chevron-up
                  button.btn-remove(type='button')
                    i.lnr.lnr-cross
              .panel-body
                p
                  | Objectively network visionary methodologies via best-of-breed users. Phosfluorescently initiate go forward leadership skills before an expanded array.
              .panel-footer
                h5 Panel Footer
            // END PANEL WITH FOOTER
        .row
          .col-md-4
            // PANEL SCROLLING
            #panel-scrolling-demo.panel
              .panel-heading
                h3.panel-title Panel Scrolling
              .panel-body
                p
                  | Objectively network visionary methodologies via best-of-breed users. Phosfluorescently initiate go forward leadership skills before an expanded array of infomediaries. Monotonectally incubate web-enabled communities rather than process-centric.
                p
                  | Objectively network visionary methodologies via best-of-breed users. Phosfluorescently initiate go forward leadership skills before an expanded array of infomediaries. Monotonectally incubate web-enabled communities rather than process-centric.
                p
                  | Objectively network visionary methodologies via best-of-breed users. Phosfluorescently initiate go forward leadership skills before an expanded array of infomediaries. Monotonectally incubate web-enabled communities rather than process-centric.
            // END PANEL SCROLLING
    // END MAIN CONTENT
  // END MAIN
  .clearfix
  footer
    .container-fluid
      p.copyright
        | &copy; 2017 
        a(href='https://www.themeineed.com' target='_blank') Theme I Need
        | . All Rights Reserved.
// END WRAPPER
// Javascript
