doctype html
head
  title Panels | Klorofil - Free Bootstrap Dashboard Template
  meta(charset='utf-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge,chrome=1')
  meta(name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0')
  // VENDOR CSS
  link(rel='stylesheet' href='assets/vendor/bootstrap/css/bootstrap.min.css')
  link(rel='stylesheet' href='assets/vendor/font-awesome/css/font-awesome.min.css')
  link(rel='stylesheet' href='assets/vendor/linearicons/style.css')
  // MAIN CSS
  link(rel='stylesheet' href='assets/css/main.css')
  // FOR DEMO PURPOSES ONLY. You should remove this in your project
  link(rel='stylesheet' href='assets/css/demo.css')
  // GOOGLE FONTS
  link(href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700' rel='stylesheet')
  // ICONS
  link(rel='apple-touch-icon' sizes='76x76' href='assets/img/apple-icon.png')
  link(rel='icon' type='image/png' sizes='96x96' href='assets/img/favicon.png')
// WRAPPER
#wrapper
  // NAVBAR
  nav.navbar.navbar-default.navbar-fixed-top
    .brand
      a(href='index.html')
        img.img-responsive.logo(src='assets/img/logo-dark.png' alt='Klorofil Logo')
    .container-fluid
      .navbar-btn
        button.btn-toggle-fullwidth(type='button')
          i.lnr.lnr-arrow-left-circle
      form.navbar-form.navbar-left
        .input-group
          input.form-control(type='text' value='' placeholder='Search dashboard...')
          span.input-group-btn
            button.btn.btn-primary(type='button') Go
      .navbar-btn.navbar-btn-right
        a.btn.btn-success.update-pro(href='https://www.themeineed.com/downloads/klorofil-pro-bootstrap-admin-dashboard-template/?utm_source=klorofil&utm_medium=template&utm_campaign=KlorofilPro' title='Upgrade to Pro' target='_blank')
          i.fa.fa-rocket
          span UPGRADE TO PRO
      #navbar-menu
        ul.nav.navbar-nav.navbar-right
          li.dropdown
            a.dropdown-toggle.icon-menu(href='#' data-toggle='dropdown')
              i.lnr.lnr-alarm
              span.badge.bg-danger 5
            ul.dropdown-menu.notifications
              li
                a.notification-item(href='#')
                  span.dot.bg-warning
                  | System space is almost full
              li
                a.notification-item(href='#')
                  span.dot.bg-danger
                  | You have 9 unfinished tasks
              li
                a.notification-item(href='#')
                  span.dot.bg-success
                  | Monthly report is available
              li
                a.notification-item(href='#')
                  span.dot.bg-warning
                  | Weekly meeting in 1 hour
              li
                a.notification-item(href='#')
                  span.dot.bg-success
                  | Your request has been approved
              li
                a.more(href='#') See all notifications
          li.dropdown
            a.dropdown-toggle(href='#' data-toggle='dropdown')
              i.lnr.lnr-question-circle
              span Help
              i.icon-submenu.lnr.lnr-chevron-down
            ul.dropdown-menu
              li
                a(href='#') Basic Use
              li
                a(href='#') Working With Data
              li
                a(href='#') Security
              li
                a(href='#') Troubleshooting
          li.dropdown
            a.dropdown-toggle(href='#' data-toggle='dropdown')
              img.img-circle(src='assets/img/user.png' alt='Avatar')
              span Samuel
              i.icon-submenu.lnr.lnr-chevron-down
            ul.dropdown-menu
              li
                a(href='#')
                  i.lnr.lnr-user
                  span My Profile
              li
                a(href='#')
                  i.lnr.lnr-envelope
                  span Message
              li
                a(href='#')
                  i.lnr.lnr-cog
                  span Settings
              li
                a(href='#')
                  i.lnr.lnr-exit
                  span Logout
          //
            <li>
            <a class="update-pro" href="https://www.themeineed.com/downloads/klorofil-pro-bootstrap-admin-dashboard-template/?utm_source=klorofil&utm_medium=template&utm_campaign=KlorofilPro" title="Upgrade to Pro" target="_blank"><i class="fa fa-rocket"></i> <span>UPGRADE TO PRO</span></a>
            </li>
  // END NAVBAR
  // LEFT SIDEBAR
  include ./includes/menu.pug
  // END LEFT SIDEBAR
  // MAIN
  .main
    // MAIN CONTENT
    .main-content
      .container-fluid
        h3.page-title Panels
        .row
          .col-md-8
            // PANEL HEADLINE
            .panel.panel-headline
              .panel-heading
                h3.panel-title Panel Headline
                p.panel-subtitle Panel to display most important information
              .panel-body
                h4 Panel Content
                p
                  | Objectively network visionary methodologies via best-of-breed users. Phosfluorescently initiate go forward leadership skills before an expanded array of infomediaries. Monotonectally incubate web-enabled communities rather than process-centric.
            // END PANEL HEADLINE
          .col-md-4
            // PANEL NO PADDING
            .panel
              .panel-heading
                h3.panel-title Panel No Padding
                .right
                  button.btn-toggle-collapse(type='button')
                    i.lnr.lnr-chevron-up
                  button.btn-remove(type='button')
                    i.lnr.lnr-cross
              .panel-body.no-padding.bg-primary.text-center
                .padding-top-30.padding-bottom-30
                  i.fa.fa-thumbs-o-up.fa-5x
                  h3 No Content Padding
            // END PANEL NO PADDING
        .row
          .col-md-4
            // PANEL DEFAULT
            .panel
              .panel-heading
                h3.panel-title Panel Default
                .right
                  button.btn-toggle-collapse(type='button')
                    i.lnr.lnr-chevron-up
                  button.btn-remove(type='button')
                    i.lnr.lnr-cross
              .panel-body
                p
                  | Objectively network visionary methodologies via best-of-breed users. Phosfluorescently initiate go forward leadership skills before an expanded array of infomediaries. Monotonectally incubate web-enabled communities rather than process-centric.
            // END PANEL DEFAULT
          .col-md-4
            // PANEL NO CONTROLS
            .panel
              .panel-heading
                h3.panel-title Panel No Right Controls
              .panel-body
                p
                  | Objectively network visionary methodologies via best-of-breed users. Phosfluorescently initiate go forward leadership skills before an expanded array of infomediaries. Monotonectally incubate web-enabled communities rather than process-centric.
            // END PANEL NO CONTROLS
          .col-md-4
            // PANEL WITH FOOTER
            .panel
              .panel-heading
                h3.panel-title Panel With Footer
                .right
                  button.btn-toggle-collapse(type='button')
                    i.lnr.lnr-chevron-up
                  button.btn-remove(type='button')
                    i.lnr.lnr-cross
              .panel-body
                p
                  | Objectively network visionary methodologies via best-of-breed users. Phosfluorescently initiate go forward leadership skills before an expanded array.
              .panel-footer
                h5 Panel Footer
            // END PANEL WITH FOOTER
        .row
          .col-md-4
            // PANEL SCROLLING
            #panel-scrolling-demo.panel
              .panel-heading
                h3.panel-title Panel Scrolling
              .panel-body
                p
                  | Objectively network visionary methodologies via best-of-breed users. Phosfluorescently initiate go forward leadership skills before an expanded array of infomediaries. Monotonectally incubate web-enabled communities rather than process-centric.
                p
                  | Objectively network visionary methodologies via best-of-breed users. Phosfluorescently initiate go forward leadership skills before an expanded array of infomediaries. Monotonectally incubate web-enabled communities rather than process-centric.
                p
                  | Objectively network visionary methodologies via best-of-breed users. Phosfluorescently initiate go forward leadership skills before an expanded array of infomediaries. Monotonectally incubate web-enabled communities rather than process-centric.
            // END PANEL SCROLLING
    // END MAIN CONTENT
  // END MAIN
  .clearfix
  footer
    .container-fluid
      p.copyright
        | &copy; 2017 
        a(href='https://www.themeineed.com' target='_blank') Theme I Need
        | . All Rights Reserved.
// END WRAPPER
// Javascript
script(src='assets/vendor/jquery/jquery.min.js')
script(src='assets/vendor/bootstrap/js/bootstrap.min.js')
script(src='assets/vendor/jquery-slimscroll/jquery.slimscroll.min.js')
script(src='assets/scripts/klorofil-common.js')
