<!doctype html>
html(lang="en")
  include ./includes/head.pug
// WRAPPER
#wrapper
  include ./includes/navbar.pug
  // END NAVBAR
  // LEFT SIDEBAR
  include ./includes/menu.pug
  // END LEFT SIDEBAR
  // MAIN
  .main
    // MAIN CONTENT
    .main-content
      .container-fluid
        h3.page-title Tables
        .row
          .col-md-6
            // BASIC TABLE
            .panel
              .panel-heading
                h3.panel-title Basic Table
              .panel-body
                table.table
                  thead
                    tr
                      th #
                      th First Name
                      th Last Name
                      th Username
                  tbody
                    tr
                      td 1
                      td Steve
                      td Jobs
                      td @steve
                    tr
                      td 2
                      td Simon
                      td Philips
                      td @simon
                    tr
                      td 3
                      td Jane
                      td Doe
                      td @jane
            // END BASIC TABLE
          .col-md-6
            // TABLE NO PADDING
            .panel
              .panel-heading
                h3.panel-title Table Inside No Padding
              .panel-body.no-padding
                table.table
                  thead
                    tr
                      th #
                      th First Name
                      th Last Name
                      th Username
                  tbody
                    tr
                      td 1
                      td Steve
                      td Jobs
                      td @steve
                    tr
                      td 2
                      td Simon
                      td Philips
                      td @simon
                    tr
                      td 3
                      td Jane
                      td Doe
                      td @jane
            // END TABLE NO PADDING
        .row
          .col-md-6
            // TABLE STRIPED
            .panel
              .panel-heading
                h3.panel-title Striped Row
              .panel-body
                table.table.table-striped
                  thead
                    tr
                      th #
                      th First Name
                      th Last Name
                      th Username
                  tbody
                    tr
                      td 1
                      td Steve
                      td Jobs
                      td @steve
                    tr
                      td 2
                      td Simon
                      td Philips
                      td @simon
                    tr
                      td 3
                      td Jane
                      td Doe
                      td @jane
            // END TABLE STRIPED
          .col-md-6
            // TABLE HOVER
            .panel
              .panel-heading
                h3.panel-title Hover Row
              .panel-body
                table.table.table-hover
                  thead
                    tr
                      th #
                      th First Name
                      th Last Name
                      th Username
                  tbody
                    tr
                      td 1
                      td Steve
                      td Jobs
                      td @steve
                    tr
                      td 2
                      td Simon
                      td Philips
                      td @simon
                    tr
                      td 3
                      td Jane
                      td Doe
                      td @jane
            // END TABLE HOVER
        .row
          .col-md-6
            // BORDERED TABLE
            .panel
              .panel-heading
                h3.panel-title Bordered Table
              .panel-body
                table.table.table-bordered
                  thead
                    tr
                      th #
                      th First Name
                      th Last Name
                      th Username
                  tbody
                    tr
                      td 1
                      td Steve
                      td Jobs
                      td @steve
                    tr
                      td 2
                      td Simon
                      td Philips
                      td @simon
                    tr
                      td 3
                      td Jane
                      td Doe
                      td @jane
            // END BORDERED TABLE
          .col-md-6
            // CONDENSED TABLE
            .panel
              .panel-heading
                h3.panel-title Condensed Table
              .panel-body
                table.table.table-condensed
                  thead
                    tr
                      th #
                      th First Name
                      th Last Name
                      th Username
                  tbody
                    tr
                      td 1
                      td Steve
                      td Jobs
                      td @steve
                    tr
                      td 2
                      td Simon
                      td Philips
                      td @simon
                    tr
                      td 3
                      td Jane
                      td Doe
                      td @jane
            // END CONDENSED TABLE
    // END MAIN CONTENT
  // END MAIN
  .clearfix
  footer
    .container-fluid
      p.copyright
        | &copy; 2017 
        a(href='https://www.themeineed.com' target='_blank') Theme I Need
        | . All Rights Reserved.
// END WRAPPER
// Javascript
