<!doctype html>
html(lang="en")
  include ./includes/head.pug
// WRAPPER
#wrapper
  include ./includes/navbar.pug
  // END NAVBAR
  // LEFT SIDEBAR
  include ./includes/menu.pug
  // END LEFT SIDEBAR
  // MAIN
  .main
    // MAIN CONTENT
    .main-content
      .container-fluid
        h3.page-title Typography
        .panel.panel-headline
          .panel-body
            h1 Dashboard Heading 1
            h2 Dashboard Heading 2
            h3 Dashboard Heading 3
            h4 Dashboard Heading 4
            h5 Dashboard Heading 5
            h6 Dashboard Heading 6
            hr
            p
              | Appropriately benchmark web-enabled bandwidth and functionalized leadership skills. Conveniently syndicate global opportunities without interactive methods of empowerment. Collaboratively conceptualize user-centric e-tailers for visionary methodologies. Dramatically myocardinate. Phosfluorescently disintermediate unique resources whereas reliable mindshare. Competently optimize client-focused infrastructures vis-a-vis e-business human capital. Uniquely formulate sustainable benefits whereas functional results. Energistically myocardinate bleeding-edge e-business.
            hr
            p.text-muted
              code .text-muted
              |  Convey meaning through color with a handful of emphasis utility classes.
            p.text-primary
              code .text-primary
              |  Convey meaning through color with a handful of emphasis utility classes.
            p.text-success
              code .text-success
              |  Convey meaning through color with a handful of emphasis utility classes.
            p.text-info
              code .text-info
              |  Convey meaning through color with a handful of emphasis utility classes.
            p.text-warning
              code .text-warning
              |  Convey meaning through color with a handful of emphasis utility classes.
            p.text-danger
              code .text-danger
              |  Convey meaning through color with a handful of emphasis utility classes.
            hr
            p
              | Make a paragraph stand out by adding 
              code .lead
            p.lead
              | Objectively re-engineer maintainable total linkage after proactive intellectual capital. Dynamically evolve best-of-breed e-services for user-centric customer.
            hr
            .well
              p.text-left
                code .text-left
                |  Left aligned text.
              p.text-center
                code .text-center
                |  Center aligned text.
              p.text-right
                code .text-right
                |  Right aligned text.
    // END MAIN CONTENT
  // END MAIN
  .clearfix
  footer
    .container-fluid
      p.copyright
        | &copy; 2017 
        a(href='https://www.themeineed.com' target='_blank') Theme I Need
        | . All Rights Reserved.
// END WRAPPER
// Javascript
script(src='assets/vendor/jquery/jquery.min.js')
script(src='assets/vendor/bootstrap/js/bootstrap.min.js')
script(src='assets/vendor/jquery-slimscroll/jquery.slimscroll.min.js')
script(src='assets/scripts/klorofil-common.js')
