<!doctype html>
include ../mixins/create-flow.pug
html(lang="en")
  include ../includes/head.pug
// WRAPPER
#wrapper
  include ../includes/navbar.pug
  // END NAVBAR
  // LEFT SIDEBAR
  include ../includes/menu.pug
  // END LEFT SIDEBAR
  // MAIN
  .main
    // MAIN CONTENT
    .main-content
      .container-fluid
        .row
          .col-sm-12
            .row(style="height:60px;")
              .col-sm-6
                #adv-search.input-group
                  input.form-control(type='text' placeholder='Kullanıcının Adını Yazınız')
                  .input-group-btn
                    .btn-group(role='group')
                      button.btn.btn-primary(type='button')
                        i.fa.fa-search 
        .row
          .col
            // TABLE STRIPED
            .panel
              .panel-heading
                h3.panel-title Akışlar 
              .panel-body
                table.table.table-striped.table-hover
                  thead
                    tr
                      th #
                      th Düzenleyen
                      th FormSahibi  
                      th Tarih 
                      th.text-center Açıklama
                      th.text-center Görüntüle
                      th.text-center   
                         span Durum 

                  tbody
                    +createFlow()
                    +createFlow()
            // END TABLE STRIPED
    // END MAIN CONTENT
  // END MAIN
  .clearfix
  footer
    .container-fluid
// END WRAPPER
// Javascript
