<!doctype html>
html(lang="en")
  include ../includes/head.pug

// WRAPPER
#wrapper
  include ../includes/navbar.pug
  include ../includes/menu.pug
  // END LEFT SIDEBAR
  // MAIN
  .main
    // MAIN CONTENT
    .main-content
      .container-fluid
        .row.justify-content-around
            .alert.alert-success.col-sm-6(role='alert' style='height:100px;')
                .col-sm-4 
                    i.fa.fa-file(style='font-size:48px;')
                .text-center.col-sm-6
                    span Departman Bilgileri: 
                    br
                    span #{faculty.name+'/'+department.name}
            .alert.alert-info.col-sm-6(role='alert' style='height:100px; float:right;')
                .col-sm-4 
                    i.fa.fa-database(style='font-size:48px;')
                .text-center.col-sm-6
                    span Kayıt Tarihi: 
                    span #{requser.createdAt}
  .clearfix
  footer
    .container-fluid
      p.copyright
