<!doctype html>
html(lang="en")
  include ../includes/head.pug
// WRAPPER
#wrapper
  include ../includes/navbar.pug
  // END NAVBAR
  // LEFT SIDEBAR
  include ../includes/menu.pug
  // END LEFT SIDEBAR
  // MAIN
  .main
    // MAIN CONTENT
    .main-content
      .container-fluid
        .panel.panel-profile
          .clearfix
            // LEFT COLUMN
            .profile-left
              // PROFILE HEADER
              .profile-header
                .overlay
                .profile-main
                  img.img-circle(src='assets/img/user-medium.png' alt='Avatar')
                  h3.name Yusuf Efe
              // END PROFILE HEADER
              // PROFILE DETAIL
              .profile-detail
                .profile-info
                  h4.heading Temel Bilgiler
                  ul.list-unstyled.list-justify
                    li
                      | Doğum Tarihi
                      span 20 Ekim, 1999
                    li
                      |Telefon 
                      span (111)11111111
                    li
                      | Email 
                      span efeyusuf1999@gmail.com
                .profile-info
                  h4.heading İletişim
                  ul.list-inline.social-icons
                    li
                      a.facebook-bg(href='#')
                        i.fa.fa-facebook
                    li
                      a.twitter-bg(href='#')
                        i.fa.fa-twitter
                    li
                      a.google-plus-bg(href='#')
                        i.fa.fa-google-plus
                    li
                      a.github-bg(href='#')
                        i.fa.fa-instagram
              // END PROFILE DETAIL
            // END LEFT COLUMN
            // RIGHT COLUMN
            .profile-right
              .awards
                .row
                  .panel.panel-default
                      .panel-heading Bilgiler
                      table.table.table-borderless.table-hover
                        tbody
                          tr
                            td
                              span Personel No
                            td
                              span 170290065
                            td
                              span Fakülte
                            td
                              span Mühendislik Fakültesi
                          tr
                            td
                              span Adı Soyadı
                            td
                              span YUSUF EFE
                            td
                              span Bölüm
                            td
                              span Yazılım Mühendisliği
                          tr
                            td
                              span Kayıt Tarihi
                            td
                              span 14.04.2021
                            td
                              span Program
                            td
                              span Yazılım Müh Bölümü
                  .panel.panel-default
                    .panel-heading İletişim Bilgileri
                    table.table.table-borderless.table-hover
                      tbody
                        tr
                          td
                            span Adres
                          td
                            span
                              input.form-control(type='text')
                          td
                            span İl
                          td
                            input.form-control.float-left(type='text')
                        tr
                          td
                            span Telefon
                          td
                            span
                              input.form-control.float-left(type='text')
                          td
                            span İlçe
                          td
                            span
                              input.form-control.float-left(type='text')
                        tr
                          td
                            span 1.Email
                          td
                            span
                              input.form-control.float-left(type='text')
                          td
                            span 2.Email
                          td
                            span
                              input.form-control.float-left(type='text')
                  .panel.panel-default
                    .panel-heading
                      | Kisisel Bilgiler
                    table.table.table-borderless.table-hover
                      tbody
                        tr
                          td
                            span Dogum Tarihi
                          td
                            span
                              input.form-control(type='date')
                          td
                            span Facebook
                          td
                            input.form-control.float-left(type='text')
                        tr
                          td
                            span Twitter
                          td
                            span
                              input.form-control.float-left(type='text')
                          td
                            span Instagram
                          td
                            span
                              input.form-control.float-left(type='text')
                .text-center
                    a.btn.btn-primary.mt-0(href='#' style='float:right;') Kaydet
            // END RIGHT COLUMN
    // END MAIN CONTENT
  // END MAIN
  .clearfix
  footer
    .container-fluid
      p.copyright

// END WRAPPER
// Javascript
