<!doctype html>
include ../mixins/create-recipient.pug
html(lang="en")
  include ../includes/head.pug

// WRAPPER
#wrapper
  include ../includes/navbar.pug
  include ../includes/menu.pug
  // END LEFT SIDEBAR
  // MAIN
  .main
    // MAIN CONTENT
    .main-content
      .container-fluid
        #hidden(style='z-index:9999;display:none;background-color:#fff;position:fixed;height:100%;width:100%;left: 0px;top: 0px;text-align: center;')
          p
          img.cancel.center(src=`/assets/fileimg/${flow.imageUrl}` alt="" style='width:30%; height:600px;')
        .row(style='height:500px;')
          .img-container-inline
            a#imgzoom(href='#' target='_blank') 
              img(src=`/assets/fileimg/${flow.imageUrl}`  alt="" style='height:500px; width:400px; cursor: zoom-in;')
        .row(style='margin-top:15px;')
          textarea#explanation.col-sm-5(placeholder='Açıklama' rows='2' name='explanation')
          form(action="/desicion-deny" method="POST")
            .form-group  
              input#flow(type="hidden" value=flow name='flow')
              button.btn.btn-danger.col-sm-3.btn-lg(type='submit' style='float:right;') Reddet 
          form(action="/desicion-accept" method="POST")
            .form-group 
              input#flow(type="hidden" value=flow name='flow')
              button.btn.btn-primary.col-sm-3.btn-lg(type='submit' style='float:right;') Onayla 
              
    // END MAIN CONTENT
  // END MAIN
  .clearfix
  footer
    .container-fluid
      p.copyright

script(type="text/javascript").
  $(document).ready(function() {
    $('#imgzoom').click( function(e) {
        e.preventDefault();
        $("#hidden").show();
    });
    $('.cancel').click(function(){
        $("#hidden").hide();
    })
  });