<!doctype html> 
include ../mixins/create-task
html(lang="en")
  include ../includes/head.pug
// WRAPPER
#wrapper
  include ../includes/navbar.pug
  // END NAVBAR
  // LEFT SIDEBAR
  include ../includes/menu.pug
  // END LEFT SIDEBAR
  // MAIN
  .main
    // MAIN CONTENT
    .main-content
      .container-fluid
        .row
          .col
            // TABLE STRIPED
            .panel
              .panel-heading
                h3.panel-title Görevler 
              .panel-body
                table.table.table-striped.table-hover
                  thead
                    tr
                      th #
                      th Düzenleyen
                      th FormSahibi  
                      th Tarih 
                      th.text-center Açıklama
                      th.text-center   
                        span Görüntüle 

                  tbody
                    -var i = 0;
                    if flows.length > 0 
                      each flow in flows
                        - ++i;
                        +createTask(flow,i,users)
            // END TABLE STRIPED
    // END MAIN CONTENT
  // END MAIN
  .clearfix
  footer
    .container-fluid
// END WRAPPER
// Javascript
