mixin createDepartment(department,faculties,i)
    tr
        td #{i}
        td 
            i.fa.fa-building(style="font-size:48px;")
        td #{department.name} 
        td  
            each faculty in faculties 
                if faculty.id === department.facultyId
                    span  &nbsp;  &nbsp; #{faculty.name} 
        td 
            a(href=`/admin/delete-department/${department.id}`)  &nbsp;                            &nbsp;
                i.delete.fa.fa-times-circle.rediconcolor 