mixin createFlow()
    tr
        td 1
        td  Yusuf Efe
        td 170290065
        td 17.04.2021
        td 
            textarea.col-sm-12(placeholder='Açıklama' rows='1') 
        td.text-center    
            a(href="flow-detail")                       
                i.fa.fa-file(style='font-size:24px;')    
        td.text-center                      
            i.delete.fa.fa-circle.rediconcolor     
        