mixin createApprover()
    tr
        td.col-sm-1(rows='2') 1
        td.col-sm-3 Muhammed Emre Çolak
        td.col-sm-3 
            textarea.col-sm-12(placeholder='Durum' rows='1') 
        td.text-center.col-sm-4    
            textarea.col-sm-12(placeholder='Açıklama' rows='2')                    
        