mixin createRecipient() 
    .row 
        form(action="" method="")
        .form-group.col-sm-4 
            select.form-control.input
                option(value='-1') Fakülte Seçiniz
                option(value='mushrooms') Mimarlık
                option(value='tomatoes') Mühendislik
                option(value='mozarella') Teknoloji
        .form-group.col-sm-4 
            select.form-control.input
                option(value='-1') Bölüm Seçiniz
                option(value='mushrooms') Mimarlık
                option(value='tomatoes') Mühendislik
                option(value='mozarella') Teknoloji
        .form-group.col-sm-4 
            select.form-control.input
                option(value='-1') Personel Seçiniz
                option(value='mushrooms') Mimarlık
                option(value='tomatoes') Mühendislik
                option(value='mozarella') Teknoloji